<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="PasswordExpiryInDays" value="90"/>
  </appSettings>
  <connectionStrings>
    <add name="TutorConnectionString" connectionString="Data Source=SALMAPC;Initial Catalog=Tutor;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <!--<httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>-->
    <authorization>
      <allow users="?"/>
    </authorization>
    <!--auto redirect to login after session timeout-->
    <!--session expires after set timeout-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" timeout="30"/>
    </authentication>
    <!--the session will expire due to the user’s inactivity after a period of 20 minutes, for security rasons you may change it-->
    <sessionState timeout="30"/>
    <!-- cookieless ="true" regenerateExpiredSessionId="true"></sessionState>-->
    <membership defaultProvider="TutorMembershipProvider">
      <providers>
        <clear/>
        <add name="TutorMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TutorConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="TutorProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="TutorConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="TutorRoleProvider">
      <providers>
        <add name="TutorRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="tutorConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<customErrors mode="On" defaultRedirect="~/Error.aspx" />-->
    <!--request validation is on by default. explicitly turn it off to disable getting request with a potential malicious payload/attack-->
    <pages validateRequest="false"/>
    <!--<globalization uiCulture="bn-BD" culture="bn-BD" />-->
    <!-- for textbox input unicode characters-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>-->
  </system.webServer>
  <rewriter>
    <!--<rewrite url="TutorsBatches.html" to="~/TeacherManagement/MyBatchesAsTutor.aspx" />-->
  </rewriter>
</configuration>