body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    height :100%;
}
html {
    height: 100%;
}
.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
   
}
.main {
    padding: 0px 12px;
    margin: 5px 8px 8px 8px;
    height:auto ;
    background-color: #FFFFCC;
}
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}
.logo
{
    width:300px;
    margin-top :0px;
    float :left ;
}
.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}
.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}
.menubar
{
    width:100%;
    display:block;
    clear :both;
    height :25px;
    left :0px;
    background-color:#3a4f63;
}
/*.menupublic
{
    width:380px;
    left :0px ;
    
}*/
.footer
{
    clear :both ;
    width:960px;
    position:relative ;
    height:40px;
    bottom:0;
    /* background :#4b6c9e;*/
    margin :10px 0px 0px 0px;
    padding :0px;
    left :0px;
    }


/* rules for navigation menu
=================================*/
ul#navmenu
{
    list-style-type:none;
    font-size :10pt;
    left:0px;
    position :relative ;
    margin-right :2px;
    padding:0px;
    
}
ul#navmenu1
{
    list-style-type:none;
    font-size :10pt;
    left:0px;
    position :relative ;
    margin-right :2px;
    padding:0px;
    
}

 ul#navmenu li
 {
     width:80px;/* fix width */
     text-align :center;
     position :relative ;
     float :left ;
     font-size :smaller;
     font-weight :bold ;
     background:#ccc;
     margin-left:5px;
 }
  ul#navmenu1 li
 {
     width:auto;/* fix width */
     text-align :center;
     position :relative ;
     float :left ;
     font-size :smaller;
     font-weight :bold ;
     margin-left:10px;
 }
 ul#navmenu a
 {
     text-decoration:none;
     display :block ;
     width :80px;/* fix width */
     height:22px;
     line-height:22px;
    /* background-color:#3D6381;/*==========*/
     border :1px solid black;
     border-radius:5px;
     color :#000;     
  
 }
 ul#navmenu1 a
 {
     text-decoration:underline;
     display :block ;
     width :auto;/* fix width */
     height:22px;
     line-height:22px;
    /* background-color:#3D6381;/*==========*/
    /* border :1px solid black;
     border-radius:5px;*/
     color :#000;     
  
 }
  ul#navmenu a:hover
 {
     text-decoration:none;
     display :block ;
     width :80px;/* fix width */
     height:22px;
     line-height:22px;
     background-color:#bfcbd6;/*==========*/
     border :1px solid #4e667d;
     border-radius:5px;
     color :#fff;
   
     
 }
 ul#navmenu1 a:hover
 {
     text-decoration:underline ;
     display :block ;
     width :auto;/* fix width */
     height:22px;
     line-height:22px;
   /*  background-color:#bfcbd6;/*==========*/
     border-radius:5px;
     color :#fff;
     background-color :#f0e68c;
     
 }
 ul#navmenu li:hover>a
 {
     background-color:#bfcbd6;/*===keeps track =======*/
     color:#000;
     border :1px solid #4e667d;
     border-radius:5px;
 }
ul#navmenu1 li:hover>a
 {
   /*  background-color:#bfcbd6;/*===keeps track =======*/
     color:#000;
     border-radius:5px;
       background-color :#f0e68c;
     
 }

ul#navmenu li.highlight{ background:#bfcbd6;}
ul#navmenu li.highlight a{ color:#000; cursor:default;}

/*    Notification 
-------------------------------------  */
.wrapper{position:absolute ;top:5px;right:30px;width:30px;}
.notificationImage{position:absolute ;top:5px;right:30px;width:25px;height:25px;}


.uparrowdiv{
width:200px;
min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #ccc;
color:#000;
padding:5px;
position:absolute;
top:50px;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
margin-bottom:2em;
z-index:3;
right :-20px;
display :none ;
}

.uparrowdiv:after{ /*arrow added to uparrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:-20px; /*should be set to -border-width x 2 */
left:190px;
width:0;
height:0;
border-color: transparent transparent #ccc transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;

}
.headbar{
position:absolute;
top:0px;
left:0px;
width:100%;
height:20px;
background:#b6b7bc;
margin-top:2px;
padding:0px;
text-align:center;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
font-weight :bold ;
}


.notify {
    padding: 8px;
}
#notification{width:13px;height:20px;margin-left:auto;margin-right:auto;}
#notificationMessage{z-index:100;display:none;width:250px;height:43px;float:right;
                     background:#ccc;right:0px;margin-right:0px;text-align:center;}


/*    Available Tutor (default page)
-----------------------------------------*/

.Horizontal{float:left;overflow:hidden;margin:0px;padding:0px;}
.Horizontal:hover{background:#eee8aa;margin:0px;padding:0px;}
.availabletutor{width:288px;float:right;}
.repeaterContainer{width:288px;float:right;border:2px solid #eee8aa;}

.tabledata{overflow:hidden ;width:50px;border-left:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fffaf0;}
.tabledata:hover{background:#eee8aa;}
.tabledata1{overflow:hidden ;width:80px;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fffaf0;}
.tabledata1:hover{background:#eee8aa;}
.tabledata1 a{text-decoration:none;color:#000;}
.tabledata1 a:hover{background:#eee8aa;text-decoration:underline;color:#000;}

/*    Time Table
    ------------------------------------*/

.weekNavigation{width:820px;height:20px;}
.previousWeek{width:30px; height:15px;float:left;}
.WeekDayName{position:absolute;left:550px;
             width:300px; 
             height:15px;
             float:left;
             margin-left :auto ;
             margin-right :auto ;
   }
.NextWeek{width:30px;height:15px;float:right;}
.dayName {
    font-weight:bold;
    font-size: 12px;
    
}
.nextweek1 {color:#ffffff;height :20px;;background:#4e667d;
            text-align :center ;
            width:130px;
}
.nextweek1:hover  {color:#ffffff;height :20px;background:#4b6c9e;
                       text-align:center;
                   width:130px;
}
.dayPilotContainer {
    position: relative;
    width: auto;
    height: auto;
}
/*   Page Heading
    ------------------------------*/

.pageHeading
{
    color:#4b6c9e;
    font-size:medium;
    padding-bottom :15px;
   font-variant :small-caps ;
 }
/*   Deselect message
    ---------------------------------*/
#messageDiv {
min-width:400px;
min-height :100px;
z-index :3;
position :absolute ;
top:250px;
left:330px;
background-color :#EAEAEA;
display :none;
border :1px solid gray;
padding-top: 25px;
padding-bottom:25px; 
margin-top:5px;
margin-bottom :10px;
}
.divHeader {
   min-width: 400px;
    height: 20px;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:#496077;
}
.close {
    position :absolute ;
    right :5px;
    top:0px;
   
}
.message {
    padding-top: 25px;
    padding-left :15px;
    padding-right :15px;
    padding-bottom:25px; 
    font-size: medium;
    position :inherit ;
    margin-top:5px;
    margin-bottom :10px;
}
/*   Button style
    -----------------------------*/
.buttonstyle {color:#ffffff;height :30px;;background:#4e667d;
            text-align :center ;
            width:auto;
}
.buttonstyle:hover  {color:#ffffff;height :30px;background:#4b6c9e;
                       text-align:center;
                   width:auto;
}
/*      Quiz page
    ------------------------------------*/
.DisableHyperlink{text-decoration:underline;color:Gray;}

/*     Display Notice 
    --------------------------------------*/
  .NoticeContainer{border-bottom:2px solid #EEF3E2;
                   width:700px;min-height:100px;} /*--properties for dynamic control, see c# code for control's ID*/
  .NoticeBatchName{color:#097790;float:left;padding:10px;width:300px;}
  .NoticeDate{float:right;padding:10px;width:300px;}
  .NoticeSubject{padding-left:10px;width:300px;}
  .NoticeMessage{padding-left:10px;width:500px;margin-top:5px;}
.info {
    position: absolute;
    left: 5px;
    top: 0px;
}