


/*body css from shawmi bhai*/
  body
        {
            height: 100%;
            font-family: Verdana;
            /*font-family:Verdana;*/
            padding: 0;
            margin: 0;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            /*background-color: #f5f7f7;*/
            background-color :#fff;
        }
/*body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    height :100%;
}*/
html {
    height: 101%;
}
.inputFormContainer
        {
            background-color: #fff;
            margin-top: 10px;
            border: 1px solid #ebeced;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 3px 3px;
        }
   .formTitle
        {
            background-color: #fbfbfb;
            border-bottom: 1px solid #dbdbdb;
            vertical-align: bottom;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
   .titleText
        {
            color: #333333;
            font-weight: bold;
            vertical-align: middle;
        }
    .round-button
        {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
            background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
            background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
            background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
            background-image: linear-gradient(bottom, #FFFFFF, #FFFFFF);
            -webkit-border-radius: 0px 0px;
            -moz-border-radius: 15px 15px;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            color: #333333;
            padding: 2px 7px 2px 7px;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
        }
    .formFields
        {
            padding-left: 5px;
            padding-right: 5px;
            padding-top :10px;
            padding-bottom :10px;
            width:100%;
         
        }
 .input-container
        {
            margin-bottom: 15px;
            width :100%;
        }
 .input_label
        {
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-radius: 5px 0 0 5px;
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            border-right: 1px solid #fff;
            display: inline-block;
            /*height: 35px;*/
            line-height: 35px;
            margin-right: 0;
            width: 150px!important;
        }


 .input-label-rounded
        {
            display: block;
            /*height: 35px;*/
            /*line-height: 36px;*/
            padding: 0 0 0 30px;
        }
  .input-box-rounded
        {
           
            -moz-border-radius: 0 5px 5px 0;
            -webkit-border-radius: 0 5px 5px 0;
            background: #FFF;
            border: 1px solid #ccc;
            border-radius: 0 5px 5px 0;
            color: #333;
            width: 250px;
            padding: 0 3px;
           font-family: Verdana;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0px 8px 0px -7px;
            height: 34px;
            /*font-size :20px;*/
            
        }
       .round-button
        {
            -webkit-border-radius: 0px 0px;
            -moz-border-radius: 15px 15px;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 2px 7px 2px 7px;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
        }

        .round-button-gray
        {
            background: #3498db;
            color: #333333;
        }
       .round-button-blue:hover 
        {
            /*background-color:#599EE3;*/
            background-color:#d9d9ff;
            color: #3498db;
            border :1px solid #3498db;
        }

        .round-button-blue
        {
            background: #4a6c9e;
            color: #ffffff;
        }
.activate {
width:70px;

}
.page-action-button {  
            -webkit-border-radius: 0px 0px;
            -moz-border-radius: 15px 15px;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 2px 7px 2px 7px;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
            color:#ffffff;
            background:#aa0707;
            text-align :center ;
            width:150px;
            height:34px;
            margin-top :10px;
}
    .page-action-button:hover {
            -webkit-border-radius: 0px 0px;
            -moz-border-radius: 15px 15px;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 2px 7px 2px 7px;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
            color:#ffffff;
            background:#ee1d1d;
            margin-top :10px;
            text-align:center;
            width:150px;
            height:34px;
    }
/*   Button style
    -----------------------------*/
.buttonstyle {
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 15px 15px;
    border-radius: 5px;
    border: 1px solid #A30000;
    padding: 5px 7px 7px 5px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: #ffffff;
    background: #aa0707;
    text-align: center;
    min-width: 150px;
    height: 34px;
    margin-top :15px;
    margin-left :10px;
    font-size :15px;
    font-family :Verdana ;
}
.buttonstyle:hover {
            -webkit-border-radius: 0px 0px;
            -moz-border-radius: 15px 15px;
            border-radius: 5px;
            border: 1px solid #A30000;
            padding: 5px 7px 7px 5px;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
            color:#ffffff;
            background:#ee1d1d;
            text-align:center;
            min-width:150px;
            height:34px;
            margin-top :15px;
            margin-left :10px;
            font-family :Verdana ;
            font-size :15px;
}
.user {
    float: left;
    margin-left :5px;
    font-size:15px;
}

.user select
{
    font-size:15px;
    font-family :Verdana ;
}
#MainContent_txtStartDate, #MainContent_txtEndDate {
     font-size:15px;
    font-family :Verdana ;
}
.input-container select{
    font-size:15px;
    font-family :Verdana ;
}
.page
{
    width: 960px;
    /*background-color: #f5f7f7;*/
    margin: 0px auto 0px auto;
    /*border: 1px solid #496077;*/
   
}
/*.main {
    padding: 0px 12px;
    margin: 5px 8px 8px 8px;
    height:auto ;
    background-color: #FFFFCC;
}*/
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}
.logo
{
    width:300px;
    margin-top :0px;
    float :left ;
}
.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}
.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}
.menubar
{
    width:100%;
    display:block;
    clear :both;
    height :25px;
    left :0px;
    background-color:#3a4f63;
}
/*.menupublic
{
    width:380px;
    left :0px ;
    
}*/
.footer
{
    clear :both ;
    width:960px;
    position:relative ;
    height:40px;
    bottom:0;
    /* background :#4b6c9e;*/
    margin :10px 0px 0px 0px;
    padding :0px;
    left :0px;
    }


/* rules for navigation menu
=================================*/
ul#navmenu
{
    list-style-type:none;
    font-size :10pt;
    left:0px;
    position :relative ;
    margin-right :2px;
    padding:0px;
    
}
ul#navmenu1
{
    list-style-type:none;
    font-size :10pt;
    left:0px;
    position :relative ;
    margin-right :2px;
    padding:0px;
    
}

 ul#navmenu li
 {
     width:80px;/* fix width */
     text-align :center;
     position :relative ;
     float :left ;
     font-size :smaller;
     font-weight :bold ;
     background:#ccc;
     margin-left:5px;
 }
  ul#navmenu1 li
 {
     width:auto;/* fix width */
     text-align :center;
     position :relative ;
     float :left ;
     font-size :smaller;
     font-weight :bold ;
     margin-left:10px;
 }
 ul#navmenu a
 {
     text-decoration:none;
     display :block ;
     width :80px;/* fix width */
     height:22px;
     line-height:22px;
    /* background-color:#3D6381;/*==========*/
     border :1px solid black;
     border-radius:5px;
     color :#000;     
  
 }
 ul#navmenu1 a
 {
     text-decoration:underline;
     display :block ;
     width :auto;/* fix width */
     height:22px;
     line-height:22px;
    /* background-color:#3D6381;/*==========*/
    /* border :1px solid black;
     border-radius:5px;*/
     color :#000;     
  
 }
  ul#navmenu a:hover
 {
     text-decoration:none;
     display :block ;
     width :80px;/* fix width */
     height:22px;
     line-height:22px;
     background-color:#bfcbd6;/*==========*/
     border :1px solid #4e667d;
     border-radius:5px;
     color :#fff;
   
     
 }
 ul#navmenu1 a:hover
 {
     text-decoration:underline ;
     display :block ;
     width :auto;/* fix width */
     height:22px;
     line-height:22px;
   /*  background-color:#bfcbd6;/*==========*/
     border-radius:5px;
     color :#fff;
     background-color :#f0e68c;
     
 }
 ul#navmenu li:hover>a
 {
     background-color:#bfcbd6;/*===keeps track =======*/
     color:#000;
     border :1px solid #4e667d;
     border-radius:5px;
 }
ul#navmenu1 li:hover>a
 {
   /*  background-color:#bfcbd6;/*===keeps track =======*/
     color:#000;
     border-radius:5px;
       background-color :#f0e68c;
     
 }

ul#navmenu li.highlight{ background:#bfcbd6;}
ul#navmenu li.highlight a{ color:#000; cursor:default;}

/*    Notification 
-------------------------------------  */
.wrapper{position:absolute ;top:5px;right:230px;width:30px;}
.notificationImage{position:absolute ;top:5px;right:30px;width:25px;height:25px;}


.uparrowdiv{
width:200px;
min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #ccc;
color:#000;
padding:5px;
position:absolute;
top:50px;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
z-index:3;
right :-20px;
display :none ;
}

.uparrowdiv:after{ /*arrow added to uparrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:-20px; /*should be set to -border-width x 2 */
left:190px;
width:0;
height:0;
border-color: transparent transparent #ccc transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;

}
.headbar{
position:absolute;
top:0px;
left:0px;
width:100%;
height:20px;
background:#b6b7bc;
margin-top:2px;
padding:0px;
text-align:center;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
font-weight :bold ;
}
.place-validator {
    margin-left :100px;padding-top :0px;
}

.notify {
    padding: 8px;
}
#notification{width:13px;height:20px;margin-left:auto;margin-right:auto;}
#notificationMessage{z-index:100;display:none;width:250px;height:auto;float:right;
                     background:#ccc;right:0px;margin-right:0px;text-align:center;}
.notification1 {
   
}
.notificationLabel {
    height:25px;
    width:200px;
    padding :8px;
    background :#bfcbd6;
    position :inherit ;
}

/*    Available Tutor (default page)
-----------------------------------------*/

.Horizontal{float:left;overflow:hidden;margin:0px;padding:0px;}
.Horizontal:hover{background:#eee8aa;margin:0px;padding:0px;}
.availabletutor{width:288px;float:right;}
.repeaterContainer{width:288px;float:right;border:2px solid #eee8aa;}

.tabledata{overflow:hidden ;width:50px;border-left:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fffaf0;}
.tabledata:hover{background:#eee8aa;}
.tabledata1{overflow:hidden ;width:80px;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fffaf0;}
.tabledata1:hover{background:#eee8aa;}
.tabledata1 a{text-decoration:none;color:#000;}
.tabledata1 a:hover{background:#eee8aa;text-decoration:underline;color:#000;}

/*    Time Table
    ------------------------------------*/

.weekNavigation{width:820px;height:20px;}
.previousWeek{width:30px; height:15px;float:left;}
.WeekDayName{position:absolute;left:550px;
             width:300px; 
             height:15px;
             float:left;
             margin-left :auto ;
             margin-right :auto ;
   }
.NextWeek{width:30px;height:15px;float:right;}
.dayName {
    font-weight:bold;
    font-size: 12px;
    
}
.nextweek1 {color:#ffffff;height :20px;;background:#4e667d;
            text-align :center ;
            width:130px;
}
.nextweek1:hover  {color:#ffffff;height :20px;background:#4b6c9e;
                       text-align:center;
                   width:130px;
}
.dayPilotContainer {
    position: relative;
    width: auto;
    height: auto;
}
/*   Page Heading
    ------------------------------*/

.pageHeading
{
    color:#4b6c9e;
    font-size:medium;
    padding-bottom :15px;
   font-variant :small-caps ;
 }
/*   Deselect message
    ---------------------------------*/


/*      Quiz page
    ------------------------------------*/
.DisableHyperlink{text-decoration:underline;color:Gray;}

/*     Display Notice 
    --------------------------------------*/
  .NoticeContainer{border-bottom:2px solid #EEF3E2;
                   width:700px;min-height:100px;} /*--properties for dynamic control, see c# code for control's ID*/
  .NoticeBatchName{color:#097790;float:left;padding:10px;width:300px;}
  .NoticeDate{float:right;padding:10px;width:300px;}
  .NoticeSubject{padding-left:10px;width:300px;}
  .NoticeMessage{padding-left:10px;width:500px;margin-top:5px;}
.info {
    position: absolute;
    left: 5px;
    top: 0px;
}
/*=== no data in gridview ============*/
.NoData {
    padding-top :20px;
    color:#28a005;
    font-size:large ;
    text-align :center ;
    font-weight :500;
    width: 400px;
    height :30px;
    position :relative ;
}
/*=========== batch start time==========*/
.starttimetable {
    width: 100%;
}
.starttime {float:left ;display :inline-block ;width:90px;
}

/* ====Gridview CSS =====*/
.Grid {
    width:99%;
    border-left:3px solid #d9d9ff;
    border-right:3px solid #d9d9ff;
    border-top:3px solid #d9d9ff;
    border-bottom:none;
    font-size :14px;
    font-family :Verdana ;
}
   .ChildGrid 
        {
            width :70%;
            border:3px solid #d9d9ff;
            font-size :14px;
            font-family :Verdana ;
        } 
        .Grid td
        {
            /*background-color: #aa0707;*/
            color: black;
            border :none;
            line-height:220%;
            padding-left:8px;
            text-align :left ;
            /*padding-right:5px;*/
        }
        .Grid th
        {
            background-color: #d9d9ff ;
            color: Black;
            border:none;
            line-height:200%;
            text-align :left;
            padding-left :5px;
          
        }
        .ChildGrid td
        {
            background-color: #ffffff !important;
            color: black;
            line-height:200%;
            width :inherit;
            border :none ;
            text-align :left ;
        }
        .ChildGrid th
        {
            margin-top :10px;
            background-color: #d9d9ff ;
            color: black;
            line-height:200%;
            width :inherit;
            text-align :left ;
            padding-left :5px;
        }
.Grid tr:nth-child(even)
    {
      background-color :#ffffff ;
    }
.Grid tr:nth-child(odd)
    {
      background-color :#f5f5f5 ;
    }  

/*.pluscolumn {
    padding-left :10px;
}*/
  /*form message  (ex: Batch is activated successfully)       
 ==========================================================*/
.formMessagDiv {
    width:70%;
    vertical-align: bottom;
    padding-top  : 15px;
    padding-left: 30px;
    padding-right: 5px;
    color:#ee1d1d;
    font-family :Verdana ;
    font-size :15px;
    margin-bottom:12px;
}

.formMsg {
    clear :both ;
    position:relative ;
    top:5px;
    padding-bottom :10px;
    /*font-weight :bold;*/

  
   
}